<h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600">Tasks</h1>


<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-white border-b">
            <tr >
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Title</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Description</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Done</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left" colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @tasks.each_with_index do |task, i| %>
            <% if i.even? %>
              <tr class="bg-gray-100 border-b">
            <% else %>
              <tr class="border-b">
            <% end %>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= task.title %></td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= task.description %></td>
                <td class="text-sm text-gray-900 text-center font-light px-6 py-4 whitespace-nowrap"><%= task.done ? "☑" : "" %></td>
                <td class="mt-2"><%= link_to 'Show', task, class: "inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %></td>
                <td><%= link_to 'Edit', edit_task_path(task), class: "inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %></td>
                <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>

<%= link_to 'New Task', new_task_path, class: "inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" %>
